<head>
  <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
</head>
<nav>
  <div class="navigation-wrap bg-transparent start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <!-- <img src="../images/truck_logo.jpg" style: width="230px"> -->

            <span> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</span>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
                  <a class="nav-link" href="/">Home</a>
                </li>
                
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link " href="/about">About Us</a>

                </li>
                
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <div class="dropdown show text-center">
                    <a class="btn btn-primary dropdown-toggle" style="font-size: 15px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Login As
                    </a>
          
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/login">Manager</a>
                      <a class="dropdown-item" href="/managerlogin">Employee</a>
                      
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </div>
</nav>
