<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->
<body>
	 <%- include('../include/clientNavbar.ejs') %><br>
<br><br><br><br><br><br>

<div class="text-center">
    <h3>Truck Management Service</h3>
    <p>To provide time bound and efficient trucks service</p>

</div>
<br>
<div class="text-center">
    <h3>Transparency of Information access</h3>
    <p>To provide faster and transparent information access to admin and manager</p>

</div>
<br>
<div class="text-center">
    <h3>Tranport Company Computerization</h3>
    <p>To enhance transport productivity both qualitatively and quantitatively to make truck delivery system affordable,accessible and cost effective</p>

</div>
<br>
<div class="text-center">
    <h3>Transport Management system</h3>
    <p>To make secure database and backup so that the truck details are updated and securely managed.</p>

</div>

</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   