<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->
<body>
<div class="text-center">
<div class="alert alert-danger">
  <strong>Password Incorrect</strong> Try Again!
</div>
  <a href="/">
   <button type="button" class="btn btn-danger"> go to home </button>
</a>
</div>
</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   