
<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->

 <body class="hero-anime"> 

   <%- include('../include/clientNavbar.ejs') %>
   <div class="section full-height">
    <div class="absolute-center">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              
      <h1><span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span> <span>t</span><span>o</span><br>
      </h1>
        <p style="font-size: 1.9em;">Transport Company Computerization System</p> <br><br>
        <div class="text-center">
        <a class="btn btn-success" style="font-size: 20px;" href="/createnewuser" role="button">
          Sign Up
        </a>
      </div>
            </div>  
          </div>    
        </div>    
      </div>
<br> 

</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->