
<!-- include header -->
<%- include('../include/header.ejs') %> 
<!-- /include header -->
<head>
  <link rel="stylesheet" href="../styles/lawyerview.css">
  </head>
 <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script> 
<body class="hero-anime"> 
  <%- include('../include/man+navbar.ejs') %> 
     <div class="container form-area">
            <!-- form handling -->
             <br>
             <br>
             <br>
            <br>
            <p>Enter Truck Number to Search a Truck</p>
            <br>
            <input class="center-block" id="myInput" type="text" placeholder="Search..">
<br><br>
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Truck Number</th>
                            <th>Date</th>
                            <th>Truck</th>
                            <th>Sender</th>
                            <th>Receiver</th>
                            <th>Status</th>
                            <th>Volume</th>
                            <th>Consignment Number</th>
                            <th>See details</th>
                        </tr>
                    </thead>
                    <tbody class="myTable">
                          <%- include('../include/showDataManager.ejs') %>
                    </tbody>

                </table>
            </form>
        </div>
   <!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   

