
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="loginjs.js"></script>
    <title>Login</title>
</head>

<body>
  <div class="bg-img">
    <div class="content">
      <header>Employee Login</header>
      <form name="form" action="/managerloginfun" method="POST" >
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text"  name="RIG" required placeholder="Employee ID">
          <!-- <input type="text" required placeholder="Email" name="username"> -->
        </div>
        <div class="field space">
          <span class="fa fa-lock"></span>
          <!-- <input type="password" class="pass-key" required placeholder="Password" name="password"> -->
          <input type="password" class="pass-key" name="password" required placeholder="Password">
          <span class="show">SHOW</span>
        </div>
        <div class="pass">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="field">
          <input type="submit" onclick="login()" href="/managerview" value="LOGIN">
          <!-- <button type="submit" onclick=login() class="btn btn-dark" href="/view">Login</button>
        </div> -->
      </form>
    </div>
  </div>

  


</body>
<script>

  function login(){
  var un=document.forms["form"]["user"].value;
  var pass=document.forms["form"]["pwd"].value;

  if(un=="admin"){
    if(pass=="123"){
     window.location.href="https://www.youtube.com";
    }
    else{
      alert("Incorrect password");
    }
  }
  else{
    alert("No username found");
  }
  }


      const pass_field = document.querySelector('.pass-key');
      const showBtn = document.querySelector('.show');
      showBtn.addEventListener('click', function(){
       if(pass_field.type === "password"){
         pass_field.type = "text";
         showBtn.textContent = "HIDE";
         showBtn.style.color = "#3498db";
       }else{
         pass_field.type = "password";
         showBtn.textContent = "SHOW";
         showBtn.style.color = "#222";
       }
      });
   
</script>
  </html>








