<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->
<body>
<div class="text-center">
<div class="alert alert-success">
  <strong>Successfully registered a new user!</strong> USER CREATED.
<!-- </div>
  <a href="/login">
   <button type="button" class="btn btn-success">LOGIN</button>
</a>
</div> -->
</body>
<!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   